body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

.momentos-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  max-width: 1200px;
}