/* You can add global styles to this file, and also import other style files */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

:root {
  /* Cinzas */
  --gray-50: #f8f8f8;
  --gray-100: #eaeaea;
  --gray-200: #d2cece;
  --gray-300: #bdbdbd;
  --gray-500: #777777;
  --gray-700: #3a3a3a;
  --gray-900: #1f1f1f;

  /* Gold */
  --gold-300: #f5d76e;
  --gold-400: #e8c547;
  --gold-500: #d4af37;
  --gold-600: #b8941f;
  --gold-700: #8f7215;
}
